.btn {
  display: inline-block;
  padding: var(--spacing-small) var(--spacing-medium);
  color: var(--white);
  background-color: var(--primary);
  border-radius: var(--border-radius);
  text-decoration: none;
  font-weight: var(--bold-font-weight);
  text-align: center;
  transition: var(--hover-transition);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  border: 1px solid transparent;
  cursor: pointer;

  &:hover,
  &:focus {
    transform: translateY(-1px);
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
      0 2px 4px -1px rgba(0, 0, 0, 0.06);
  }

  &:active {
    transform: translateY(1px);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  }
}

.btn--secondary {
  color: var(--primary);
  background-color: var(--white);
  border: 1px solid var(--grey-2);

  &:hover,
  &:focus {
    border-color: var(--primary);
    color: var(--primary);
  }
}

.btn--small {
  padding: var(--spacing-extra-small) var(--spacing-small);
  font-size: 0.875rem;
}

.btn--large {
  padding: var(--spacing-medium) var(--spacing-large);
  font-size: 1.125rem;
}

.btn--disabled,
.btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}
